<!doctype html>
<title>树洞</title>
<script language="javascript">  
function sumbit_sure(){  
  var gnl=confirm("确定要提交?");  
  if (gnl==true){  
  return true;  
    } else{  
  return false;  
    }  
  }  
</script>  
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>树洞（欢迎吐槽）</h1>
  <img src='/static/hello.png' alt='this is not me'>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>