{% extends "layout.html" %}
{% block body %}
<h1><a href='pictures' style="color:#1822b4;font-family:YouYuan;text-decoration:none" >进入图库</a></h1>
  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry onsubmit="return sumbit_sure()">
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
  <ul class=entries>
  {% for entry in entries %}
    <li style='border-top:0.1px solid #96c2f1;background:#eff7ff'><h2>{{ entry.title }}
    {% if entry.time %}
      <p style='font-size:0.8em;text-align:right'>{{ entry.time }}</h2>
    {% endif %}</h2>
      {{ entry.text|safe }}
  {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
  {% endfor %}
  {% for pic in show_pic %}
  <br><img src="{{ pic.pic }}"> 
  {% endfor %}
  {% for num in show_num %}
  <p style='font-size:0.8em;text-align:right'> total : {{num.num}} 
  {% endfor %}
  </ul>
{% endblock %}